@charset "utf-8";
*{margin: 0; padding: 0;}
ul,ol,li {list-style: none;}
a{text-decoration: inherit; color: inherit;}
img{max-width: 100%;}

html{
    font-size: 12px;
    background-color: #fff;
    color: #333;
}

.popup{
    position: fixed;
    width: 300px;
    left: 300px;
    top: 300px;
    padding: 30px;
    background-color: #fff;
    z-index: 1000;
    display: none;
}

.popup.on{
    display: block;
}

.p-ctrl{
    display: flex;
    justify-content: flex-end;
}

#btn-close{
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px;
}

.wrap{
    display: flex;
    overflow: hidden;
}

header{
    width: 200px;
}

main{
    width: calc(100% - 200px);
    position: relative;
}

.gnb{
    width: 180px;
    margin: 50px auto;
}

.gnb a{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb>li{
    /* max-height: 50px;
    overflow: hidden; <- D-1 세로형 메뉴*/
    position: relative;
}

.gnb ul {
    position: absolute;
    left: 180px;
    top: 0;
    z-index: 50;
    background-color: #ffffff85;
    display: flex;
    width: 100vw;
    transition: all 0.6s ease 0s;
    opacity: 0;
    pointer-events: none
}

.gnb>li:hover{
    /* max-height: 300px; <- D-1 세로형 메뉴*/
}

.gnb:hover ul{
    opacity: 1;
    pointer-events: auto;
}

.gnb li>a:hover{
    background-color: #000;
    color: #fff;
}

.spotmenu{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.station{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.train{
    /* transition: all 1s ease 0s; */
}

.train li{
    width: 100%;
    height: 400px;
}

.direct{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 10px;
}

.direct a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-menu{
    height: 250px;
}

.tabs{
    display: flex;
    gap: 10px;
}

.tabs a{
    border: 1px solid #000;
    padding: 10px 30px;
}

.tabs a.on{
    background-color: #000;
    color: #fff;
}

.notice li{
    display: flex;
    justify-content: space-between;
}

.gallery{
    display: flex;
    gap: 10px;
}

.notice{
    display: none;
}

.gallery{display: none;}

.gallery.on{
    display: flex;
}

.notice.on{
    display: block;
}

footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.sns{
    display: flex;
    gap: 10px;
}