@charset "utf-8";
*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: inherit; color: inherit;}
html{background-color: #fff; color: #333; font-size: 12px;}

.common-frame{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.popup{
    display: none;
}

.popup.on{
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    left: 40%;
    top: 25%;
}

.popup>.p-ctl{
    text-align: right;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.gnb{
    display: flex;
    z-index: 10;
}

.gnb a{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb>li{
    position: relative;
}

.gnb li>a:hover{
    background-color: #333;
    color: #fff;
}

.gnb>li>ul {
    background-color: #ffffffcf;
    transition: all 0.6s ease 0s;
    opacity: 0;
    pointer-events: none;
    position:absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.gnb:hover > li > ul{
    opacity: 1;
    pointer-events: auto;
}

.station{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.train li{
    width: 100%;
    height: 300px;
}

.contents{
    display: flex;
    width: 100%;
    height: 200px;
}

.contents>section{
    flex: 1;
}

.tabs{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-bottom: 10px;
}

.tabs a{
    padding: 5px 10px;
    border: 1px solid #333;
}

.tabs>a.on{
    background-color: #333;
    color: #fff;
}

.notice{
    display: none;
}

.notice.on{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.gallery{
    display: none;
}

.gallery.on{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.banner h3 {
    position: absolute;
    left: 40%;
    top: 35%;
    color: #fff;
    font-size: 40px;
}

.banner{
    position: relative;
}

.direct{
    position: relative;
}

.direct h3 {
    position: absolute;
    left: 33%;
    top: 35%;
    color: #fff;
    font-size: 40px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #333;
}

.copy{
    color: #fff;
}

.sns{
    display: flex;
    gap: 10px;
}