@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: inherit; color: inherit;}
ul,ol,li{list-style: none;}
html{font-size: 12px; background-color: #fff; color: #333;}

.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.gnb{
    display: flex;
    z-index: 10;
}

.gnb a{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gnb>li{
    position: relative;
}

.gnb>li>ul{
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.gnb li>a:hover{
    background-color: #333;
    color: #fff;
}

.gnb:hover li>ul{
    opacity: 1;
}

.popup{
    display: none;
}

.popup.on {
    background-color: #fff;
    width: 350px;
    height: 150px;
    position: absolute;
    z-index: 20;
    left: 25%;
    top: 33%;
    padding: 10px;
    display: block;
}

.station{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.train>ul>li{
    width: 100%;
    height: 300px;
}

.contents{
    display: flex;
}

.contents>section{
    flex: 1 ;
}

.tabs{
    display: flex;
    padding-bottom: 10px;
}

.tabs a{
    border: 1px solid #333;
    padding: 5px;
}

.tabs a.on{
    background-color: #333;
    color: #fff;
}

.notice>li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.notice{
    display: none;
}

.notice.on{
    display: block;
}

.gallery{
    display: none;
}

.gallery.on{
    display: flex;
    gap: 10px;
}

footer{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.copy{
    color: #fff;
}

.sns{
    display: flex;
    gap: 10px;
}